/* Фон страницы */
body {
  background-color: #87CEEB;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

/* Облака */
.cloud-left {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 150px;
  z-index: 10;
}

.cloud-right {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 150px;
  z-index: 10;
}

/* Заголовок с шрифтом Sacramento */
h1 {
  font-family: 'Sacramento', cursive;
  font-size: 60px;
  text-align: center;
  margin-top: 200px;
  color: white;
  position: relative;
  z-index: 5;
}

/* Текст секции */
section {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  color: white;
  position: relative;
  z-index: 5;
}

